 :root {

background-color: rgb(187, 24, 228);
background-image: -moz-linear-gradient(purple to black);
background-repeat: round;

}

.container {

    text-align: center;
    border-radius: 50% ;
    
    ;
}